<nav class="side-navbar">
   <!-- Sidebar Header-->
   <div class="sidebar-header d-flex align-items-center">
      <div class="avatar"><img src="/img/img-admin.jpg" alt="..." class="img-fluid rounded-circle"></div>
      <div class="title">
         <h1 class="h4">Administrator</h1>
         <p>Hello</p>
      </div>
   </div>
   <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
   <ul class="list-unstyled">
      <li class="active"><a href="/admin"> <i class="icon-home"></i>Trang Chính</a></li>
      <li><a href="/admin/khach-hang"> <i class="fa fa-users"></i></i>Quản Lý Khách Hàng</a></li>
      <li><a href="/admin/ngan-hang"><i class="fa fa-university"></i></i>Danh Sách Ngân Hàng</a></li>
      <li><a href="/admin/chuyen-khoan"><i class="fa fa-address-book"></i></i></i></i></i></i>Tạo Chuyển Khoản</a></li>
      <li><a href="/admin/change-pass"><i class="fa fa-key"></i></i></i>Đổi Mật Khẩu</a></li>
      <!--
      <li>
         <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Example dropdown </a>
         <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
            <li><a href="#">Page</a></li>
            <li><a href="#">Page</a></li>
            <li><a href="#">Page</a></li>
         </ul>
      </li>
      <li><a href="login.html"> <i class="icon-interface-windows"></i>Login page </a></li>
      -->
   </ul>
   <!-- Thêm
   <span class="heading">Extras</span>
   <ul class="list-unstyled">
      <li> <a href="#"> <i class="icon-flask"></i>Demo </a></li>
      <li> <a href="#"> <i class="icon-screen"></i>Demo </a></li>
      <li> <a href="#"> <i class="icon-mail"></i>Demo </a></li>
      <li> <a href="#"> <i class="icon-picture"></i>Demo </a></li>
   </ul>
   -->
</nav>